{% extends "bootstrap/base.html" %}

{% block title %}Avaliação contínua: Aula 060{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ home_url }}">Avaliação contínua: <b>Aula 060</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ home_url }}">Home</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Olá, {{ name or "Stranger" }}!</h1>
    {% if name %}
      <p>{{ message }}</p>
    {% else %}
      <p>Prazer em conhecê-lo!</p>
    {% endif %}
  </div>

  <form method="POST" action="{{ url_for('index') }}">
    {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}<br>
      {{ form.name(size=32) }}
    </p>
    <p>{{ form.submit(class="btn btn-default") }}</p>
  </form>

  <h3>Relação de usuários cadastrados</h3>
  <table class="table">
    <tr><th>Nome do usuário</th></tr>
    {% for u in users %}
    <tr><td>{{ u.username }}</td></tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
